.app-container {
  display: flex;
  height: 100vh;
  padding-left: 1px;
}

.modal {
  background: #a2a29d8a;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal .loader {
  position: absolute;
  width: 200px;
  top: 30%;
  left: calc(50% - 100px);
}

.modal .loader .message {
  width: 100%;
  text-align: center;
}

.modal .loader .spinner {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 5px solid #bccf0030;
  border-radius: 50%;
  border-top-color: #638e07;
  animation: spin 1s cubic-bezier(.71,.42,.27,.6) infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
