.point-title-container {
  border: 1px solid;
  list-style-type: none;
  background: #fff;
  cursor: grab;
}

.point-delete-button {
  cursor: pointer;
  fill: #515151
}

.point-delete-button:hover {
  cursor: pointer;
  fill: #ff6347;
}
