.point-title-container {
  border: 1px solid  #efefef;
  list-style-type: none;
  background: #fff;
  cursor: grab;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  height: 2em;
}

.point-title {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;

}

.point-delete-button {
  cursor: pointer;
  fill: #515151
}

.point-delete-button:hover {
  cursor: pointer;
  fill: #ff6347;
}
